* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #b5b5b5;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 720px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color:#2a2a2a;
    font-size: 50px;
    font-weight: 600;
}

header a:hover {
    filter: drop-shadow(2px 2px 15px rgb(38, 68, 188));
}

.darkMode {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.darkMode label{
    margin-right: 5px;
}

/*start dark mode toggle css*/
.theme-checkbox {
    --toggle-size: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}

.theme-checkbox:hover {
    filter: drop-shadow(2px 2px 15px rgb(38, 68, 188));
}

.theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}

/*end dark mode toggle css*/

main {
    margin-top: 40px;
}

.container-calculator {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: 0 auto;
}

.calculator {
    border: 1px solid #2a2a2a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    display: flex;
    flex-wrap: wrap;
}